@import './base/variables';
@import './fonts/index';

:root {
    @include css-vars;
}

* {
    box-sizing: border-box;
    font-family: 'outfit-light';
    color: $white;
    font-weight: 300;
}

html,
body {
    background-color: $darkBlue;
    font-size: $textSizeM;
}
