//colors
$orange: #fc4747;
$black: #10141e;
$blueGray: #5a698f;
$darkBlue: #161d2f;
$white: #ffffff;

// fonts
$lightText: 'outfit-light';
$mediumText: 'outfit-medium';
$textSizeSm: 13px;
$textSizeS: 15px;
$textSizeM: 18px;
$textSizeL: 24px;
$textSizeXL: 32px;

$deskTopWidth: 1440px;
$tabletWidth: 768px;
$mobileWidth: 218px;

@mixin css-vars {
    --orange: #{$orange};
    --black: #{$black};
    --blue-gray: #{$blueGray};
    --dark-blue: #{$darkBlue};
    --white: #{$white};
    --light-text: #{$lightText};
    --medium-text: #{$mediumText};
    --text-size-sm: #{$textSizeSm};
    --text-size-s: #{$textSizeS};
    --text-size-m: #{$textSizeM};
    --text-size-l: #{$textSizeL};
    --text-size-xl: #{$textSizeXL};
    --desk-top-width: #{$deskTopWidth};
    --tablet-width: #{$tabletWidth};
    --mobile-width: #{$mobileWidth};
}
