@font-face {
    font-family: 'outfit-light';
    src: url('@/styles/fonts/Outfit/Outfit-VariableFont_wght.ttf') format('truetype-variations');
    font-weight: 100 400;
}

@font-face {
    font-family: 'outfit-medium';
    src: url('@/styles/fonts/Outfit/Outfit-VariableFont_wght.ttf') format('truetype-variations');
    font-weight: 500;
}
